{% extends 'tea/teapage.html' %}
{% block title %}
    Club "Cup of: Coffee"
{% endblock title %}
{% block content %}
    <h2>Здесь вы можете найти всю информацю о кофе.</h2>

    <p><i>
        <b>Кофе</b> — это напиток, изготавливаемый из жареных зёрен кофейного дерева. Благодаря содержанию кофеина
        <b>оказывает</b> стимулирующее действие.
    </i></p>
    {% if titles %}
        <table border="2">
            <tr>
                {% for t in titles %}
                    <th>{{t}}</th>
                {% endfor %}
            </tr>
            {% for t in coffee_table %}
            <tr>
                {% for k,v in t.items %}
                    {% if k == "image" and v %}
                        <td><image src="/media/{{v}}" height="100px" width="100px"></image></td>
                    {% else %}
                        <td>{{v}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}